.card-list {
  width: 85vw;
  margin: 2em auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  /* grid-template-rows: 400px; */
  /* border: 2px solid gray; */
  grid-gap: 20px;
  justify-content: center;
}